/* HEADER */
.header {
  height: var(--header-height);
  background-image: linear-gradient(0, #fe6433, #f53e2d);
}

.header__navbar {
  display: flex;
  justify-content: space-between;
}

.header__navbar-list {
  list-style-type: none;
  padding: 0;
  margin: 4px 0 0 0;
  display: flex;
}

.header__navbar-item {
  margin: 0 0.8rem;
  position: relative;
  min-height: 26px;
}

.header__navbar-user {
  display: flex;
  position: relative;
}

.header__navbar-item-user-img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1 solid rgba(0, 0, 0, 0.1);
}

.header__navbar-item-user-name {
  margin-left: 4px;
  font-size: 1.3rem;
  font-weight: 300;
}

.header__navbar-user-menu {
  position: absolute;
  padding: 0;
  top: calc(100% + 4px);
  right: 0;
  background-color: #fff;
  border-radius: 2px;
  list-style-type: none;
  width: 160px;
  z-index: 2;
  box-shadow: 0 0 10px #ddd;
  z-index: 3;
  display: none;
  animation: fadeIn ease 0.2s;
}

.header__navbar-user:hover .header__navbar-user-menu {
  display: block;
}

.header__navbar-user-menu::before {
  content: "";
  display: block;
  border-width: 20px 27px;
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
  position: absolute;
  right: 0px;
  top: -27px;
}

.header__navbar-user-menu::after {
  content: "";
  display: block;
  position: absolute;
  height: 20px;
  top: -10px;
  right: 0;
  width: 60%;
}

.header__navbar-user-menu-item {
  position: relative;
  z-index: 3;
}

.header__navbar-user-menu-item--separate {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.header__navbar-user-menu-item a {
  padding: 10px 16px;
  text-decoration: none;
  font-size: 1.3rem;
  color: #000;
  display: block;
  font-weight: 300;
}

.header__navbar-user-menu-item a:first-child {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.header__navbar-user-menu-item a:last-child {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.header__navbar-user-menu-item a:hover {
  background-color: #fafafa;
}

.header__navbar-item--qr:hover .header__qr {
  display: block;
}

.header__navbar-item--notify:hover .header__notify {
  display: block;
}

.header__navbar-item,
.header__navbar-item-link {
  display: inline-block;
  font-size: 1.3rem;
  color: var(--white-color);
  text-decoration: none;
  font-weight: 300;
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link {
  display: inline-flex;
  align-items: center;
}

.header__navbar-item:hover,
.header__navbar-icon-link:hover,
.header__navbar-item-link:hover {
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
}

.header__navbar-item--strong {
  font-weight: 400;
}

.header__navbar-item--separate::after {
  content: "";
  display: block;
  height: 1.4rem;
  border-left: 0.1rem solid var(--white-color);
  opacity: 0.7;
  position: absolute;
  top: 50%;
  right: -10px;
  transform: translateY(-50%);
}

.header__navbar-title--no-pointer {
  cursor: text;
  color: var(--white-color);
}

.header__navbar-icon-link {
  color: var(--white-color);
  text-decoration: none;
}

.header__navbar-icon-link:nth-child(2) {
  margin-left: 3px;
}

.header__navbar-icon {
  font-size: 1.6rem;
  margin: 0 4px;
}

/* HEADER QR-CODE */
.header__qr {
  background-color: var(--white-color);
  width: 186px;
  position: absolute;
  top: 118%;
  left: 0;
  padding: 8px;
  border-radius: 2px;
  display: none;
  z-index: 1;
  animation: fadeIn ease 0.3s;
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.1);
}

.header__qr::before {
  display: block;
  content: "";
  position: absolute;
  height: 15px;
  width: 100%;
  left: 0;
  top: -5px;
}

.header__qr-img {
  width: 100%;
}

.header__qr-apps {
  display: flex;
  justify-content: space-between;
}

.header__qr-link:first-child {
  margin-left: 11px;
}

.header__qr-link:last-child {
  margin-right: 11px;
}

.header__qr-download-img {
  height: 16px;
}

/* HEADER-NOTIFICATION */
.header__notify {
  position: absolute;
  top: 118%;
  right: 0;
  width: 404px;
  border: 1px solid #d3d3d3;
  background-color: var(--white-color);
  cursor: default;
  transform-origin: calc(100% - 32px) top;
  will-change: opacity, transform;
  animation: headerNotifyGrowth ease-in 0.25s;
  display: none;
  z-index: 999;
}

.header__notify::before {
  content: "";
  display: block;
  border-width: 20px 27px;
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
  position: absolute;
  right: 0px;
  top: -27px;
}

.header__notify::after {
  content: "";
  display: block;
  position: absolute;
  width: 90px;
  height: 20px;
  right: 0;
  top: -15px;
}

@keyframes headerNotifyGrowth {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.header__notify-header {
  height: 40px;
  background-color: var(--white-color);
}

.header__notify-header h3 {
  color: var(--black-color);
  font-weight: 400;
  margin: 0 0 0 12px;
  font-size: 1.5rem;
  line-height: 40px;
}

.header__notify-list {
  padding-left: 0;
}

.header__notify-item {
  display: flex;
  padding: 12px;
}

.header__notify-item--viewed {
  background-color: rgba(238, 77, 45, 0.08);
}

.header__notify-item:hover {
  background-color: #f8f8f8;
}

.header__notify-link {
  display: flex;
  text-decoration: none;
  width: 100%;
}

.header__notify-img {
  width: 48px;
  object-fit: contain;
}

.header__notify-info {
  margin-left: 12px;
}

.header__notify-name {
  display: block;
  font-size: 1.4rem;
  color: var(--black-color);
  font-weight: 400;
}

.header__notify-desc {
  display: block;
  font-size: 1.2rem;
  color: #756f6e;
  margin-top: 4px;
}

.header__notify-footer {
  display: flex;
}

.header__notify-footer-btn {
  line-height: 30px;
  text-decoration: none;
  color: var(--black-color);
  padding: 4px;
  font-size: 1.4rem;
  font-weight: 400;
  width: 100%;
  text-align: center;
}

/* AUTHEN-FORM */
.auth-form {
  width: 500px;
  background-color: var(--white-color);
  border-radius: 5px;
  overflow: hidden;
}

.auth-form__container {
  padding: 0 32px;
}

.auth-form__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  margin-top: 12px;
}

.auth-form__heading {
  font-size: 2.2rem;
  margin: 32px 0px;
  font-weight: 400;
}

.auth-form__switch-btn {
  font-size: 1.6rem;
  cursor: pointer;
  font-weight: 500;
  color: var(--primary-color);
}

.auth-form__input {
  width: 100%;
  height: 40px;
  margin-top: 16px;
  font-size: 1.4rem;
  padding: 0 16px;
  border: 1px solid var(--border-color);
  border-radius: 2px;
  outline: none;
}

.auth-form__input:focus {
  border-color: #888;
}

.auth-form__aside {
  margin-top: 18px;
}

.auth-form__policy-text {
  font-size: 1.2rem;
  line-height: 1.8rem;
  text-align: center;
  padding: 0 12px;
  margin: 0;
}

.auth-form__text-link {
  color: var(--primary-color);
  text-decoration: none;
}

.auth-form__controls {
  margin-top: 100px;
  margin-bottom: 22px;
  margin-right: 32px;
  display: flex;
  justify-content: flex-end;
}

.auth-form__controls-back {
  margin-right: 8px;
}

.auth-form__socials {
  padding: 12px 32px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #f5f5f5;
}

.auth-form__socials-icon {
  font-size: 1.8rem;
}

.auth-form__socials--facebook {
  color: var(--white-color);
  background-color: #3a5a98;
}

.auth-form__socials--google {
  background-color: var(--white-color);
  color: #666;
}

.auth-form__socials--facebook .auth-form__socials-icon {
  color: var(--white-color);
}

.auth-form__socials-title {
  margin: 0 36px;
}

.auth-form__help {
  display: flex;
  justify-content: flex-end;
}

.auth-form__help-link {
  font-size: 1.4rem;
  text-decoration: none;
  color: #939393;
}

.auth-form__help--primary-color {
  color: var(--primary-color);
}

.auth-form__help-separate {
  height: 16px;
  border-left: 1px solid var(--border-color);
  margin: 0 12px;
}

/* HEADER WITH SEARCH */
.header-with-search {
  height: var(--header-with-search-height);
  display: flex;
  align-items: center;
  margin: 0 8px 0 12px;
}

.header__logo {
  width: 220px;
}

.header__logo-link {
  color: transparent;
  text-decoration: none;
}

.header__logo-img {
  width: 150px;
  color: var(--white-color);
}

.header__search {
  background-color: var(--white-color);
  height: 40px;
  flex: 1;
  border-radius: 2px;
  display: flex;
  align-items: center;
}

.header__search-input-wrap {
  flex: 1;
  height: 100%;
  position: relative;
}

.header__search-input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 1.4rem;
  padding: 0 16px;
  border-radius: 2px;
}

.header__cart {
  width: 150px;
  text-align: center;
  position: relative;
}

.header__wrap {
  display: inline-block;
  padding: 0 12px;
  cursor: pointer;
}

.header__cart-icon {
  font-size: 2.4rem;
  color: var(--white-color);
  margin-top: 6px;
}

.header__cart-notice {
  position: absolute;
  border-radius: 40px;
  border: 2px solid #ee4d2d;
  padding: 1px 6px;
  font-size: 1.4rem;
  line-height: 1.4rem;
  color: var(--primary-color);
  background-color: var(--white-color);
  top: -4px;
  right: 50px;
}

.header__cart-list {
  position: absolute;
  top: calc(100% + 11px);
  right: 50px;
  background-color: var(--white-color);
  width: 400px;
  border-radius: 2px;
  box-shadow: 0 0 10px #ddd;
  animation: fadeIn ease 0.2s;
  cursor: default;
  z-index: 2;
  display: none;
}

.header__cart-list::after {
  cursor: pointer;
  content: "";
  display: block;
  position: absolute;
  right: 2px;
  top: -24px;
  border-width: 15px 21px;
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
}

.header__wrap:hover .header__cart-list {
  display: block;
}

.header__cart-list--no-cart {
  padding: 24px 0;
}

.header__cart-list--no-cart .header__cart-no-cart-img,
.header__cart-list--no-cart .header__cart-no-cart-msg {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.header__cart-no-cart-img {
  display: none;
  width: 50%;
}

.header__cart-no-cart-msg {
  display: none;
  font-size: 1.4rem;
  margin-top: 24px;
}

.header__search-selection {
  border-left: 1px solid var(--border-color);
  padding: 2px 0 2px 16px;
  position: relative;
  cursor: pointer;
}

.header__search-selection-label {
  font-size: 1.4rem;
}

.header__search-selection-icon {
  padding: 0 16px 0 8px;
  position: relative;
  top: -1px;
}

.header__search-btn {
  height: 34px;
  border: none;
  border-radius: 2px;
  background-color: var(--primary-color);
  width: 60px;
  margin-right: 3px;
  outline: none;
}

.header__search-btn:hover {
  background-color: #fb6445;
  cursor: pointer;
}

.header__search-btn-icon {
  color: var(--white-color);
  font-size: 1.2rem;
}

.header__search-option {
  position: absolute;
  right: 0;
  top: 180%;
  background-color: var(--white-color);
  border-radius: 2px;
  margin: 0;
  list-style-type: none;
  padding: 0;
  width: 130px;
  box-shadow: 1px 2px 4px #ddd;
  display: none;
  animation: fadeIn ease 0.2s;
}

.header__search-option::after {
  content: "";
  display: block;
  width: 100px;
  height: 30px;
  position: absolute;
  right: 0;
  top: -20px;
  z-index: 5;
}

.header__search-selection:hover .header__search-option {
  display: block;
}

.header__search-option-items {
  background-color: var(--white-color);
  padding: 8px 8px;
  text-align: right;
}

.header__search-option-items:first-child {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.header__search-option-items:last-child {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.header__search-option-items:hover {
  cursor: pointer;
  background-color: #fbfbfb;
}

.header__search-option-items span {
  font-size: 1.4rem;
}

.header__search-option-items i {
  font-size: 1.4rem;
  color: var(--primary-color);
  margin: 0 5px 0 12px;
}

/* CMT-HEADER-SEARCH-HISTORY */
.header__search-history {
  position: absolute;
  width: calc(100% - 40px);
  background-color: var(--white-color);
  top: 119%;
  left: 0;
  border-radius: 2px;
  box-shadow: 1px 2px 4px #ddd;
  z-index: 1;
  display: none;
}

.header__search-input:focus ~ .header__search-history {
  display: block;
}

.header__search-history-heading {
  margin: 8px 12px;
  font-size: 1.4rem;
  font-weight: 400;
  color: #999;
}

.header__search-history-list {
  padding-left: 0;
  list-style-type: none;
  margin: 6px 0 0;
}

.header__search-history-items {
  height: 36px;
  padding: 0 12px;
}

.header__search-history-items:hover {
  background-color: #fafafa;
}

.header__search-history-items:last-child:hover {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.header__search-history-items a {
  text-decoration: none;
  font-size: 1.4rem;
  color: var(--black-color);
  height: 100%;
  line-height: 36px;
  display: block;
}

/* CMT-HEADER-CART-LIST  */
.header__cart-heading {
  text-align: left;
  margin: 8px 0 8px 12px;
  font-size: 1.4rem;
  color: #999;
  font-weight: 400;
}

.header__cart-list-items {
  padding-left: 0;
  list-style-type: none;
  height: 50vh;
  overflow-y: auto;
}

.header__cart-list-item {
  display: flex;
  align-items: center;
}

.header__cart-list-item:hover {
  background-color: #f8f8f8;
}

.header__cart-list-item-img {
  width: 42px;
  height: 42px;
  margin: 12px;
  border: 1px solid #ccc;
}

.header__cart-list-item-info {
  width: 100%;
  margin-right: 12px;
}

.header__cart-list-item-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4px;
}

.header__cart-list-item-name {
  font-size: 1.4rem;
  font-weight: 400;
  margin: 0;
  flex: 1;
  padding-right: 16px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-align: left;
}

.header__cart-list-item-price {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--primary-color);
}

.header__cart-list-item-mutilply {
  font-size: 0.9rem;
  margin: 0 4px;
}

.header__cart-list-item-amount {
  font-size: 1.2rem;
}

.header__cart-list-item-body {
  display: flex;
  justify-content: space-between;
}

.header__cart-list-item-description {
  font-size: 1.3rem;
  color: #757575;
}

.header__cart-list-item-remove {
  font-size: 1.4rem;
}

.header__cart-list-item-remove:hover {
  color: var(--primary-color);
  cursor: pointer;
}

.header__cart-view-cart {
  float: right;
  margin: 0 12px 12px 0;
}

/* APP_CONTAINER */
.app__container {
  background-color: #f5f5f5;
}

.app__content {
  padding-top: 36px;
}

.category {
  border-radius: 2px;
}

.category__heading {
  font-size: 1.6rem;
  margin-top: 0;
  padding: 12px 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.category__heading-icon {
  font-size: 1.2rem;
  margin-right: 4px;
  position: relative;
  top: -1px;
}

.category-list {
  padding: 0 0 8px 0;
  list-style: none;
  margin-left: 12px;
}

.category-items--active .category-items__link {
  color: var(--primary-color);
}

.category-items--active .category-items__link::before {
  position: absolute;
  content: "";
  border: 4px solid;
  top: 50%;
  left: 7px;
  transform: translateY(calc(-50% - 1px));
  border-color: transparent transparent transparent var(--primary-color);
}

.category-items__link {
  position: relative;
  text-decoration: none;
  font-size: 1.5rem;
  padding: 6px 16px;
  display: block;
  color: var(--black-color);
  transition: right linear 0.1s;
  right: 0;
}

.category-items__link:hover {
  color: var(--primary-color);
  right: -4px;
}

.home-filter {
  background-color: rgba(0, 0, 0, 0.04);
  display: flex;
  padding: 12px 22px;
  align-items: center;
  border-radius: 2px;
}

.home-filter__label {
  font-size: 1.4rem;
  margin-right: 16px;
}

.home-filter__btn {
  min-width: 90px;
  margin-right: 12px;
}

.home-filter__page {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.home-filter__page-num {
  font-size: 1.5rem;
  margin-right: 22px;
}

.home-filter__page-current {
  color: var(--primary-color);
}

.home-filter__page-control {
  border-radius: 2px;
  overflow: hidden;
  display: flex;
  width: 72px;
  height: 36px;
}

.home-filter__page-btn {
  flex: 1;
  background-color: var(--white-color);
  display: flex;
  text-decoration: none;
}

.home-filter__page-btn--disabled {
  background-color: #f9f9f9;
  cursor: default;
}

.home-filter__page-btn--disabled .home-filter__page-icon {
  color: #ccc;
}

.home-filter__page-btn:first-child {
  border-right: 1px solid #eee;
}

.home-filter__page-icon {
  margin: auto;
  font-size: 1rem;
}

/* CMT_PRODUCT_ITEM */
.home-product {
  margin-bottom: 10px;
}

.home-product-items {
  background-color: var(--white-color);
  margin-top: 10px;
  position: relative;
  border-radius: 2px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  transition: transform ease-in 0.1s;
  will-change: transform;
  display: block;
  text-decoration: none;
}

.home-product-items:hover {
  transform: translateY(-1px);
  box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
}

.home-product-items__img {
  padding-top: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.home-product-items__name {
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.9);
  font-weight: 400;
  margin: 10px;
  height: 28px;
  line-height: 1.4rem;
  overflow: hidden;
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.home-product-items__price {
  display: flex;
  margin: 0 10px;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
}

.home-product-items__price-old {
  font-size: 1.4rem;
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.54);
}

.home-product-items__price-current {
  font-size: 1.6rem;
  color: #ee4d2d;
}

.home-product-items__action {
  display: flex;
  justify-content: space-between;
  margin: 8px 10px 0;
}

.home-product-items__like {
  font-size: 1.3rem;
}

i.home-product-items__like-icon-fill {
  display: none;
  color: rgb(245 61 47);
}

.home-product-items__like--liked .home-product-items__like-icon-empty {
  display: none;
}

.home-product-items__like--liked .home-product-items__like-icon-fill {
  display: inline-block;
}

.home-product-items__rating {
  font-size: 0.8rem;
  color: #b9b8b8;
  margin-left: auto;
}

.home-product-items__star--gold {
  color: var(--star-gold-color);
}

.home-product-items__sold {
  font-size: 1.2rem;
  margin-left: 6px;
  color: var(--black-color);
}

.home-product-items__origin {
  display: flex;
  justify-content: space-between;
  margin: 8px 10px 0;
  color: rgba(0, 0, 0, 0.65);
  font-size: 1.2rem;
}

.home-product-items__origin-name {
  margin-bottom: 12px;
}

.home-product-items__favourite {
  position: absolute;
  top: 10px;
  left: -4px;
  color: var(--primary-color);
  background-color: currentColor;
  font-size: 1.2rem;
  font-weight: 500;
  padding-right: 4px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.home-product-items__favourite span {
  color: var(--white-color);
}

.home-product-items__favourite::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  border-top: 3px solid currentColor;
  border-left: 3px solid transparent;
  filter: brightness(60%);
}

.home-product-items__favourite i {
  font-size: 0.9rem;
  margin: 0 3px 0 4px;
  color: var(--white-color);
}

.home-product-items__sale-off {
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  height: 36px;
  text-align: center;
  background-color: rgba(255, 216, 57, 0.9);
  border-top-right-radius: 2px;
}

.home-product-items__sale-off::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  border-width: 0 20px 4px;
  border-style: solid;
  color: rgba(255, 216, 57, 0.9);
  border-color: transparent currentColor transparent currentColor;
}

.home-product-items__sale-off-percent {
  color: #ee4d2d;
  font-weight: 700;
  font-size: 1.3rem;
  line-height: 1.3rem;
  position: relative;
  top: 3px;
}

.home-product-items__sale-off-label {
  color: var(--white-color);
  font-size: 1.4rem;
  line-height: 1.3rem;
  position: relative;
  top: 3px;
}

.home-product__pagination {
  margin: 48px 0 32px;
}

/* CMT-FOOTER */
.footer {
  border-top: 4px solid var(--primary-color);
  padding-top: 16px;
}

.footer__heading {
  font-size: 1.4rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.54);
}

.footer__list {
  padding-left: 0;
  list-style: none;
}

.footer__list-item-link {
  text-decoration: none;
  font-size: 1.2rem;
  color: var(--black-color);
  margin-bottom: 12px;
  display: block;
  color: rgba(0, 0, 0, 0.54);
  display: flex;
  align-items: center;
}

.footer__list-item-link:hover {
  color: var(--primary-color);
}

.footer__list-item-icon {
  font-size: 1.6rem;
  margin-right: 8px;
}

.footer__download {
  display: flex;
}

.footer__download-qr {
  width: 86px;
  height: 86px;
  border: 1px solid var(--border-color);
}

.footer__download-apps {
  margin-left: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.footer__download-apps-link {
  text-decoration: none;
  color: transparent;
}

.footer__download-app-img {
  width: 80px;
}

.footer__bottom {
  padding: 24px 0;
  background-color: #f5f5f5;
  margin-top: 36px;
}

.footer__text {
  text-align: center;
  margin: 0;
  font-size: 1.4rem;
  color: #737373;
}
